{{ define "main" }}

<section id="list">

    <p>Discover how Bach's Goldberg Variations have been used in films, books, TV series, and video games.</p>

    {{ $baseurl := .Site.BaseURL }}

    {{ .Content }}

    {{ range (.Paginate (.Data.Pages.GroupByDate "2006")).PageGroups  }}

    <ul>
        {{ range .Pages.ByWeight }}
        <li>
            <h3><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h3>
            <p>{{ .Summary }} &hellip; <em><a href="{{ .Permalink }}">Read more</a></em></p>
        </li>
        {{ end }}
    </ul>
    
    {{ end }}

</section>

{{ template "_internal/pagination.html" . }}

{{ end }}
